#feed
  ul
    list-style-type: none
    margin: 1em
    padding: 0em
    li.post
      margin-bottom: 1em
      padding: 1em
      border: 1px solid #ccc 
      .header
        .from
          font-size: 150%
          font-weight: bold
        .date
          margin-left: 1em
          color: #ccc
        .to
          margin-left: 1em
          color: #ccc
