body
  margin-top: 40px

.info-panel
  margin: 10px
  padding: 1em
  background-color: #eee
  border-radius: 15px
  border: 1px solid #ddd
  min-height: 200px

.messages
  padding-left: 1em
  padding-right: 1em
  padding-top: 1em

#settings
  .passphrase
    textarea
      width: 100% 

  .connecting, .generating
    text-align: center

#update
  .update 
    .to_toggle
      text-align: right
      border-radius: 3px
      background-color: white
      font-size: 24pt
    .share
      border: 1px solid #ccc
      background-color: white
      padding-top: 1em
      padding-bottom: 1em
      .content 
        min-height: 1em
        outline: 0px solid transparent
        margin-right: 1em
        margin-left: 1em

#feed
  ul
    list-style-type: none
    margin: 5px
    padding: 0em
    li.post
      margin-bottom: 1em
      padding: 1em
      border-radius: 15px
      border: 1px solid #ccc 

  .post
    .meta
      .from
        font-size: 150%
        font-weight: bold
      .date
        margin-left: 1em
        color: #ccc
      .to
        margin-left: 1em
        color: #ccc

    .content
      min-height: 100px

    .stats
      text-align: right
      .likes
        margin-left: 1em
        float: right

    .comments
      .form
        textarea
          width: 100%
      .comment
        margin-top: 1em
        border-top: 1px solid #ccc
        padding: 1em
        .from
          font-weight: bold
        .date
          color: #ccc
        .content
          min-height: 1em

#friends
  .uri
    border: 1px solid #ccc
    padding: 1em 
    word-wrap: break-word

  .pubkey
    word-wrap: break-word

