!!! 5
%html
  %head
    %title Life
    %link{:href => "css/bootstrap.css", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "css/life.css", :rel => "stylesheet", :type => "text/css"}

  %body
    .page.vsplit
       
      = partial :topbar
  
      #panels.expand.tab-content
        = partial :feed
        = partial :update
        = partial :friends

      .footer

  / 3rd party libs
  %script{:type=>"application/x-javascript", :src => "javascript/jquery-1.7.2.min.js"}
  %script{:type=>"application/x-javascript", :src => "javascript/knockout-2.1.0.js"}
  %script{:type=>"application/x-javascript", :src => "javascript/bootstrap.js"}
  %script{:type=>"application/x-javascript", :src => "javascript/humane.js"}
  %script{:type=>"application/x-javascript", :src => "javascript/cryptico.js"}

  /util
  %script{:type=>"application/x-javascript", :src => "javascript/util.js"}
  %script{:type=>"application/x-javascript", :src => "javascript/jquery_plugins.js"}

  %script{:type=>"application/x-javascript", :src => "javascript/socket.js"}
  %script{:type=>"application/x-javascript", :src => "javascript/email_utils.js"}
  %script{:type=>"application/x-javascript", :src => "javascript/email.js"}

  %script{:type=>"application/x-javascript", :src => "javascript/split.js"}
  %script{:type=>"application/x-javascript", :src => "javascript/md5.js"}
  %script{:type=>"application/x-javascript", :src => "javascript/base64.js"}

  %script{:type=>"application/x-javascript", :src => "javascript/life_client.js"}
  %script{:type=>"application/x-javascript", :src => "javascript/storage.js"}
  %script{:type=>"application/x-javascript", :src => "javascript/app_storage.js"}
  %script{:type=>"application/x-javascript", :src => "javascript/crypto.js"}
  %script{:type=>"application/x-javascript", :src => "javascript/view.js"}

  / controller
  %script{:type=>"application/x-javascript", :src => "javascript/life.js"}

